{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block extended_header %}
<h2>Live The Experience</h2>
<p>
	Activate your leadership by going on an experience with AIESEC. We provide you with the opportunity to live a shared responsibility for the world and equip you with the tools to shape it for a better future.
</p>
{% endblock %}

{% block content %}
<!-- to add during frontend phase:
	-types
	-stories
	-big clients
-->
<!--// Opportuinties types -->
<section>
	How will you choose to develop yourself?
</section>
{% endblock %}